* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

.header {
    width: 80%;
    padding: 0 10% 0 10%;
    height: 60px;
    background-color: #3d006e;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 30%;
}

.header__logo h1 a {
    font-family: 'Bangers';
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}

.header__menu {
    width: 70%;
}

.header__menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header__menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.header__menu ul li:hover {
    text-decoration: underline;
}

.header__login {
    display: flex;
    justify-content: center;
    width: 30%;
}

.header__login a i {
    color: #ffffff;
}

.header__login--details {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    margin-top: 50px;
    background-color: #ffffff;
    height: 150px;
    padding: 10px;
    transition: opacity 0.2s linear;
}

.header__login--details img {
    width: 40px;
    height: 20px;
    position: absolute;
    z-index: 1001;
    display: flex;
    align-self: center;
    margin-top: -25px;
}

.header__login--details input {
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    height: 25px;
}

.header__login--details input:last-of-type {
    height: 30px;
    margin-bottom: 0;
}

.header__menu--fixed {
    font-family: 'Bangers';
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0 #00000033;
    width: 100%;
    height: 60px;
    background-color: #3d006e;
    z-index: 5;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    transition: opacity 0.2s linear;
}

.main__featured {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../img/controller-x1-xbox-one-joystick.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__featured--slide {
    width: 80%;
    padding: 50px 10% 0 10%;
    height: calc(100vh - 60px);
    background-color: #000000a2;
}

.main__featured--slide h2 {
    width: 100%;
    padding: 10px;
    background-color: #0000009a;
    border-radius: 5px;
    color: #ffffff;
}

.main__featured--product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.main__featured--details {
    margin-top: 100px;
    height: 400px;
    transition: opacity 0.2s linear;
}

.main__featured--details img {
    width: 250px;
    margin: 30px 0 30px 0;
}

.main__featured--details a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
    height: 380px;
}

.main__email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #3d006e;
}

.main__email input {
    width: 500px;
    height: 40px;
    padding: 0 10px 0 10px;
    border: 0;
}

.main__email input:last-child {
    width: 100px !important;
}

.main__product {
    width: 80%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #f5f5f5;
}

.main__product h2 {
    width: 100%;
    padding: 10px;
    background-color: #00000033;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
    text-align: start;
}

.main__product--featured {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

.main__product--details {
    min-width: 200px;
    width: 25%;
    border-radius: 5px;
    margin: 50px 25px 50px 0;
    border: 1px solid #00000033;
    padding-bottom: 15px;
}

.main__product--details:last-of-type {
    margin: 0;
}

.main__product--details:hover {
    border-bottom: 4px solid #3d006e;
}

.main__product--details a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.main__product--details img {
    width: 100px;
    margin: 10px;
}

.main__product--details h3 {
    width: 80%;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #00000033;
}

.main__facebook {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 50px 10% 50px 10%;
    background-color: #3d006e;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 50px 10% 0 10%;
    background-color: #f5f5f5;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: #3d006e;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-right: 1px solid #00000031;
}

.footer__logo h2 {
    font-family: 'Bangers';
    font-size: 44px;
}

.footer__logo--icon ul {
    display: flex;
    list-style: none;
}

.footer__logo--icon ul li {
    margin: 0 10px 0 10px;
}

.footer__logo--icon ul li a {
    color: #000000;
    text-decoration: none;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-right: 1px solid #00000031;
}

.footer__menu h3 {
    font-size: 30px;
}

.footer__menu ul {
    text-align: center;
    margin-top: 50px;
    list-style: none;
    font-size: 18px;
}

.footer__menu ul li {
    margin: 10px;
}

.footer__menu ul li a {
    text-decoration: none;
    color: #000000;
}

.footer__menu ul li a:hover {
    text-decoration: underline;
}

.footer__facebook {
    display: flex;
    justify-content: flex-end;
    width: 33.33%;
}

.main__category {
    width: 60%;
    padding: 0 20% 0 20%;
    background-color: #3d006e;
    border-bottom: 1px solid #00000033;
}

.main__category ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px;
    list-style: none;
}

.main__category ul li {
    margin: 0 50px;
}

.main__category ul li a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
}

.main__category ul li a:hover {
    color: #ffffff8a;
    transition: 0.5s all;
}

.main__category ul li a img {
    width: 100px;
}

.main__category ul li a span {
    text-align: center;
    width: 120%;
    padding: 5px 0 5px;
    margin: 10px 0 -10px;
    white-space: nowrap;
}

.main__category--product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 50px 10% 50px 10%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #00000033;
}

.main__category--details {
    min-width: 200px;
    width: 20%;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
    border: 1px solid #00000033;
    padding-bottom: 15px;
}

.main__category--details a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.main__category--details img {
    width: 100px;
    margin: 10px;
}

.main__category--details h3 {
    width: 80%;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #00000033;
}

.main_category--details:first-of-type {
    margin: 0;
}

.main__category--details:hover {
    border-bottom: 4px solid #3d006e;
}

.main__category--pagination {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.main__category--pagination a {
    text-decoration: none;
    color: #000000;
}

.hidden {
    display: none;
}

.transition {
    opacity: 0;
    pointer-events: none;
}